<style type="text/css">
h1 {
  display: none;

}
a {
  display: none;
}

.header a {
  display: inline!important;
}

body, html {
  height: auto!important;
  background-color: #e74c3c;
}
</style>
<div class="red_bg">
<div class="new_ad new_ad_fix">
<%= form_for @ad, :html => {:multipart => true} do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :placeholder => "Title" %>
  </div></br>
  <div class="field">
    <span>Contact (Phone, Mobile, Email, Website)</span><br>
    <%= f.text_field :url, :placeholder => "Contact - Email / Address / Website" %>
  </div></br>
  <div class="field">
    <%= f.text_area :info, :placeholder => "Description of your ad. EG, great quality, professional, brand new. ", :class => "font_area_fix" %>
  </div></br>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, :placeholder => "Location" %>
  </div></br>
  <div class="field">
    <%= f.label :image %><span class="label"> (Recommended Image Size = 400x400 Pixels)</span><br>
    <%= f.file_field :preview, :placeholder => "Image" %>
  </div></br>
  <div class="no_align">
  <div class="field ra_button">
    <label>Ad Size (More Coming Soon...)</label></br>
    <%= f.radio_button(:size, "featured") %><span>Featured - £0.75 Per Week (Recurring) </span></br>
  </div> </br>
  </div>
  <div class="pay_sec">
  <label><%= image_tag "stripe.png", :class => "stripe" %> - Secure Payment</label></br></br>
  <div class="field">
    <%= label_tag :card_number, "Credit Card Number" %>
    <%= text_field_tag :card_number, nil, name: nil %>
  </div>
  <%= f.hidden_field :stripe_card_token %>
  <div class="field">
    <%= label_tag :card_code, "Security Code on Card (CVV) - The last 3 digits on the back of your card" %>
    <%= text_field_tag :card_code, nil, name: nil %>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  </div>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
