<style type="text/css">
h1 {
  display: none;

}
a {
  display: none;
}

.header a {
  display: inline!important;
}
</style>
<div class="new_ad new_ad_fix">
<%= form_for @ad, :html => {:multipart => true} do |f| %>
  <% if @ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
      <% @ad.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, :placeholder => "Title" %>
  </div></br>
  <div class="field">
    <span>Contact (Phone, Mobile, Email, Website)</span><br>
    <%= f.text_field :url, :placeholder => "Contact - Email / Address / Website" %>
  </div></br>
  <div class="field">
    <%= f.text_area :info, :placeholder => "Description of your ad. EG, great quality, professional, brand new. ", :class => "font_area_fix" %>
  </div></br>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, :placeholder => "Location" %>
  </div></br>
  <div class="field">
    <%= f.label :image %><span class="label"> (Recommended Image Size = 400x400 Pixels)</span><br>
    <%= f.file_field :preview, :placeholder => "Image" %>
  </div></br>
  <div class="no_align">
  <div class="field ra_button">
    <%= f.radio_button(:size, "medium") %><span>Standard - FREE </span></br>
    <%= f.radio_button(:size, "featured") %><span>Featured - £0.50 P/W Opening Sale!</span></br>
  </div> </br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
