 <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style type="text/css">
.ads_link {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  color: white!important;
}

#container {
  position: relative;
  min-height: 200%;
}
</style>

<div class="welcome_area">
  <div class="inner_container">
    <div class="left_welcome head_shadow center_align">
      Amazing Ads. Amazing Value.<br>
      Get noticed, <%= link_to "Get AdLookr", new_user_registration_path  %>
    </div>
  </div>
  <!--<div class="arrow_down">
    <a href="#afixds" class="scroll"><span>Click to look for ads</span></a>
  </div> -->
</div>

<div class="index-con" id="afixds">
<div class="glob-con">
<div class="search_con">
<h1 class="sub-header">Search Results</h1>
<hr>
<div class="featured_container">
<% @ads.each do |ad| %>

<% if ad.size == "featured" %>
  <div class="afixdspace_grid_f">
    <div class="pic_sec_f">
      <%= image_tag ad.preview.url(:featured), :alt => "It seems you have adblocked, to view this ad please disable it." %>
    </div>
    <div class="text_info_f">
    <div class="text_title">
      <span class="bold"><%= link_to truncate(ad.title, length: 26), ad, :class => "title" %></span></br>
    </div>
    <div class="extra_info_f">
        <p><%= truncate(ad.info, length: 30) %></p>
        <span class="bold"><%= ad.location %></span></br>
        <span class="bold"><%= ad.url %></span>
      </div>
          <% if can? :destroy, ad %>
      <%= link_to 'Delete', ad, :method => :delete, :class => "delete" %> 
    <% end %>

    </div>

  </div> 
<% end %>

<% end %></div>


<% @ads.each do |ad| %>
<% if ad.size == "medium" %>
  <div class="afixdspace_grid">
    <div class="pic_sec">
      <%= image_tag ad.preview.url(:medium) %>
    </div>
    <div class="text_info">
      <div class="text_title">
      <span class="bold"><%= link_to truncate(ad.title, length: 13), ad, :class => "title" %></span></br>
    </div>
    <div class="extra_info">
      <p><%= truncate(ad.info, length: 15) %></p>
      <span class="bold"><%= ad.location %></span></br>
    </div>
              <% if can? :destroy, ad %>
      <%= link_to 'Delete', ad, :method => :delete, :class => "delete" %> 
    <% end %>
    </div>
  </div> 
<% end %>
<% end %>
</div>

<div class="afixds_con">
  <h1 class="sub-header">Latest Ads</h1>
  <hr>
<div class="featured_container">
<% @ads_featured.each do |ad| %>
  <div class="afixdspace_grid_f">
    <div class="pic_sec_f">
      <%= image_tag ad.preview.url(:featured) %>
    </div>
    <div class="text_info_f">
      <div class="text_title">
        <span class="bold"><%= link_to truncate(ad.title, length: 26), ad, :class => "title" %></span></br>
      </div>
      <div class="extra_info_f">
        <p><%= truncate(ad.info, length: 30) %></p>
        <span class="bold"><%= ad.location %></span></br>
        <span class="bold"><%= ad.url %></span>
      </div>
          <% if can? :destroy, ad %>
      <%= link_to 'Delete', ad, :method => :delete, :class => "delete" %> 
    <% end %>
    </div>

  </div> 
<% end %>
</div>




<% @ads_medium.each do |ad| %>
  <div class="afixdspace_grid">
    <div class="pic_sec">
      <%= image_tag ad.preview.url(:medium) %>
    </div>
    <div class="text_info">
      <div class="text_title">
        <span class="bold"><%= link_to truncate(ad.title, length: 13), ad, :class => "title" %></span></br>
     </div>
     <div class="extra_info">
      <p><%= truncate(ad.info, length: 15) %></p>
      <span class="bold"><%= ad.location %></span></br>
    </div>
        <% if can? :destroy, ad %>
      <%= link_to 'Delete', ad, :method => :delete, :class => "delete" %> 
    <% end %>

    </div>

  </div> 
<% end %>

<% @ads_small.each do |ad| %>
  <div class="adspace_grid">
    <div class="pic_sec">
      <%= image_tag ad.preview.url(:medium) %>
    </div>
    <div class="text_info">
      <span class="bold"><%= ad.title %></span></br>
      <p><%= truncate(ad.info, length: 30) %></p>
      <div class="right-text">
        <span class="bold"><%= ad.location %></span></br>
        <span class="bold"><%= ad.url %></span>
      </div>
    </div>
    <% if can? :destroy, ad %>
      <%= link_to 'Delete', ad, :method => :delete %> 
    <% end %>
  </div> 
<% end %>

</div>

</div>

</div>
</div>

