<div class="red_bg">
<div class="red_bg_fix">

<div class="white_box">
<div class="title_block">
<p class="bold title_show">
  <%= @ad.title %>
</p>
</div>

  <%= image_tag @ad.preview.url(:showpg), :class => "show_img" %>
	<div class="show_info">
	</br>
  <%= @ad.info %></br>
  <span class="bold">Contact : </span><%= @ad.url %></br>
  <span class="bold">Location : </span><%= @ad.location %></br>
  <%= link_to 'Back', ads_path + "?utf8=✓&search=Search+Here..." %>
	</div>
</div>
</div>
</div>
