<p id="notice"><%= notice %></p>
<div class="white_box">
<p class="bold title_show">
  <%= @ad.title %>
</p>

  <%= image_tag @ad.preview.url(:showpg), :class => "show_img" %></br>
  <%= @ad.info %></br>
  <span class="bold">Contact : </span><%= @ad.url %></br>
  <span class="bold">Location : </span><%= @ad.location %>
</div>
<%= link_to 'Back', ads_path + "?utf8=✓&search=Search+Here..." %>
