<!DOCTYPE html>
<html>
<head>
  <title>Datalog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <script>
    $(function(){
      $("#slides").slidesjs({
        width: 400,
        height: 400
      });
    });
  </script>
</head>
<body>

<div class="header">
	<div class="navs">
    <%= form_tag ads_path, :method => :get do %>
  <p class="search_f">
    <%= text_field_tag :search, params[:search], :class => "glow_f" %>
    <%= submit_tag "Search", :name => nil, :class => "submit" %>
<% end %>
		<%= link_to "Home", ads_path + "?utf8=✓&search=Search+Here...", :class => "ads_link" %>
		<% if user_signed_in? %>
      <%= link_to 'New Ad', new_ad_path %>
    <% end %>
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to "Sign In / Sign Up", new_user_session_path %>
		<% end %>
	</div>
</div>

<div class="glob-con">

<%= yield %>

</div>

</body>
</html>
