<!DOCTYPE html>
<html>
<head>
  <title>Datalog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<div class="navs">
		<%= link_to "Home", ads_path, :class => "ads_link" %>
		<%= link_to 'New Ad', new_ad_path %>
		<% if user_signed_in = false %>
			<%= link_to "Sign In", new_user_session_path %>
		<% end %>
		<% if user_signed_in? %>
			<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
		<% end %>
	</div>
</div>

<div class="glob-con">

<%= yield %>

</div>

</body>
</html>
